.accordians {
  overflow: hidden;
  margin-top: 1em;
}

.accordian {
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  &-label {
    display: flex;
    justify-content: space-between;
    padding: 1em;
    @include media-query($on-palm) {
      padding: 0;
      font-size: 0.75em;
    }
    font-weight: bold;
    cursor: pointer;
    text-shadow: none;
    &:hover {
      @extend %neon-glow;
    }
  }
  &-label h1 {
    width: 100%;
  }
  &-content {
    display: none;
    padding: 0 1em;
    //transition: all 0.35s;
    @include media-query($on-palm) {
      font-size: 0.75em;
    }
  }
}

.glow.accordian-label {
  @extend %neon-glow;
}

// :checked
.accordians input:checked {
  + .accordian-label {
    @extend %neon-glow;
  }
  ~ .accordian-content {
    display: block;
    padding-bottom: 1em;
    opacity: 1;

    @include media-query($on-palm) {
      max-height: 300vh;
    }
  }
}

.accordians input {
  position: absolute;
  opacity: 0;
  z-index: -1;
}

.accord {
  display: flex;
  flex-direction: row;
}
