@font-face {
  font-family: "LeagueMono";
  src: url("/assets/fonts/LeagueMono-SemiBold.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

/**
 * TODO(P2) Decide on bold vs extra bold.
 */
@font-face {
  font-family: "LeagueMono";
  src: url("/assets/fonts/LeagueMono-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "LeagueMono";
  src: url("/assets/fonts/LeagueMono-ExtraBold.woff2") format("woff2");
  font-weight: bolder;
  font-style: normal;
}

@font-face {
  font-family: "LeagueMono";
  src: url("/assets/fonts/LeagueMono-Light.woff2") format("woff2");
  font-weight: lighter;
  font-style: normal;
}
