@font-face {
  font-family: "LeagueMono";
  src: url("/assets/fonts/LeagueMono-SemiBold.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "LeagueMono";
  src: url("/assets/fonts/LeagueMono-Light.woff2") format("woff2");
  font-weight: 100;
  font-style: normal;
}
