%neon-glow {
  color: white;
  fill: white;
  text-shadow: 0px 0px 2px aqua, 0px 0px 20px aqua;
  animation: 12s glower infinite;
}

@keyframes glower {
  from,
  to {
    text-shadow: 0px 0px 5px DeepSkyBlue, 0px 0px 10px aqua;
  }
  33% {
    text-shadow: 0px 0px 10px DeepSkyBlue, 0px 0px 5px aqua;
  }
  66% {
    text-shadow: 0px 0px 10px DeepSkyBlue, 0px 0px 10px aqua;
  }
}

.footer {
  display: sticky;
  bottom: 100vh;
  margin-top: auto;
  display: flex;
  flex-direction: row;
  //justify-content: space-around;
  width: 100%;
}

.smallText {
  font-size: $small-font-size;
  max-width: 50%;
  padding: $spacing-unit;
  padding-left: 2 * $spacing-unit;
  font-size: $small-font-size;

  @include media-query($on-palm) {
    padding-left: $spacing-unit / 2;
  }
}

.glow {
  @extend %neon-glow;
}

.email {
  white-space: nowrap;
}

.hide {
  display: none;
}
