.header {
  padding: $spacing-unit;
  display: flex;
  flex-direction: column;
  max-width: 800px;

  color: white;
  fill: white;

  font-family: $heading-font-family;
}

/*.tagline {
  padding-left: $spacing-unit;
}*/

.down-arrow {
  width: 2em;
  height: 2em;

  margin-top: auto;
  margin-bottom: $spacing-unit;
}

.refresh {
  @extend %neon-glow;

  flex: 1;
  margin: auto;
}

.flashinganim {
  animation-name: flashing;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
}

.hidden {
  opacity: 0;
  animation: none;
}

.hide {
  animation-name: fadehide;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fadehide {
  100% {
    opacity: 0;
  }
}

.blink {
  animation: blink-caret 1.5s step-end infinite;
}

.cursor {
  font-size: 0.9em;
  padding-left: 0.2em;
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

@keyframes flashing {
  0%,
  100% {
    opacity: 0.05;
  }
  50% {
    opacity: 0.8;
  }
}

%neon-glow {
  color: white;
  fill: white;
  text-shadow: 0px 0px 2px aqua, 0px 0px 20px aqua;
}

.blurb {
}

.footer {
  display: sticky;
  bottom: 100vh;
  margin-top: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}

.smallText {
  flex: 1;
  font-size: $small-font-size;
  max-width: 50%;
  padding: $spacing-unit;
}

.siteMap {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: $spacing-unit;
  font-size: $small-font-size;
}

.icon {
  padding-right: 0.5em;
  fill: white;
}

.service {
  display: grid;
  grid: auto-flow / 1fr 1fr;
}

.service * {
  text-align: left;
  padding: $spacing-unit;
}

.glow {
  @extend %neon-glow;
}

.demo-icon {
  font-family: "icons";
  font-size: 2em;
}

.toshow * {
  opacity: 0;
}
