.blink {
  animation: blink-caret 1.5s step-end infinite;
}

// TODO(P2) Make animation not jump around so much :/
@keyframes blink-caret {
  from,
  to {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
