@keyframes glower {
  from,
  to {
    text-shadow: 0px 0px 5px DeepSkyBlue, 0px 0px 10px aqua;
  }
  33% {
    text-shadow: 0px 0px 10px DeepSkyBlue, 0px 0px 5px aqua;
  }
  66% {
    text-shadow: 0px 0px 10px DeepSkyBlue, 0px 0px 10px aqua;
  }
}

.footer {
  display: sticky;
  bottom: 100vh;
  margin-top: auto;
  display: flex;
  flex-direction: row;
  padding-left: 30px;
}

.smallText {
  font-size: var(--small-font-size);
  max-width: 50%;
  padding: var(--spacing-unit);
  padding-left: 2 * var(--spacing-unit);
  font-size: var(--small-font-size);
}

.glow {
  color: white;
  fill: white;
  text-shadow: 0px 0px 2px aqua, 0px 0px 20px aqua;
  animation: 12s glower infinite;
}

.email {
  white-space: nowrap;
}

.hide {
  display: none;
}

.contact-form-response {
  border: none;
}

.contact-form {
  display: flex;
  flex-direction: column;
  width: fit-content;
  max-width: max-content;
}

.contact-form label {
  display: inline-block;
  width: 5em;
  min-width: 5em;
  max-width: 5em;
  text-align: right;
  margin-right: 1em;
  margin-bottom: 0.5em;
}

.contact-form div {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.contact-form input[type="text"] {
  min-width: 20em;
}
.contact-form button {
  max-width: max-content;
  align-self: flex-end;
  margin-top: 1em;
}
.contact-form textarea {
  min-width: 20em;
  height: 15em;
}

.form-response {
  min-height: 1em;
}

@media (--on-palm) {
  .smallText {
    padding-left: var(--spacing-unit) / 2;
  }

  input[type="text"],
  textarea {
    min-width: 15em;
  }
}
