:root {
  --base-font-family: "LeagueMono", -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol";
  --base-font-size: 1.3em;
  --base-font-weight: 400;
  --small-font-size: .85em;
  --base-line-height: 1.5;

  --heading-font-family: "LeagueMono";
  --heading-font-weight: 700;

  --spacing-unit: 30px;

  --text-color: #ffffff;
  --background-color: #000000;
  --brand-color: #333;

  --grey-color: gray(80);
  --grey-color-light: gray(60);
  --grey-color-dark: gray(85);

  --table-text-align: left;

  /*Width of the content area*/
  --content-width: 800px;

  --midnight: grey;
}

@custom-media --on-palm (max-width: 700px);
