---
layout: layouts/default.html
title: portfolio
tags: nav-page

permalink: portfolio.html

menu-order: 1
---
<script>
  window.addEventListener('DOMContentLoaded', (event) => {
    let textCursor = animatedCursor(`h1`, (t) => {
      return [t];
    }, 50);
    window.requestAnimationFrame(textCursor.play);

    let imgs = document.querySelectorAll('img[data-src]');
    imgs.forEach(img => {
      img.setAttribute('src', img.getAttribute('data-src'));
      img.onload = function () {
        img.removeAttribute('data-src');
      };
    });
  });
</script>
<style>
[data-src]::before {
  content: '';
  display: block;
  padding-top: 62.25%;
}
</style>

<h1 class="type">Things I've done</h1>

<p class="type">For industry work see my <a href="assets/resume.pdf">resume</a>.
</p>

<h2 class="type">makesome.art</h2>

<a href="http://makesome.art/">
  <p class="type">
   A collaborative art creation site based on the exquisite corpse parlour game.
  </p>
  <img data-src="/assets/makesomeart.png"></img>
</a>
<p> </p>

<h2 class="type">Habits</h2>

<a href="http://habits.u-u.space/">
  <p class="type">
    A local first repeating task tracker built with elm.
  </p>
  <img data-src="/assets/habits.png"></img>
</a>

<p></p>

<h2 class="type">watchpaint.com</h2>

<a href="http://www.watchpaint.com/">
  <p class="type">
    A competitive paint watching site in collaboration with Raph comics.
  </p>
  <img data-src="/assets/watchpaint.png"></img>
</a>
<p> </p>

<h2 class="type">Grafte</h2>

<a href="http://grafte.u-u.space/">
  <p class="type">
    A customizable vector graphics editor written in Typescript (WIP).
  </p>
  <img data-src="/assets/grafte.png"></img>
</a>
<p> </p>

<h2 class="type">Cemetary Drive</h2>

<a href="https://canned-moose.itch.io/cemetery-drive">
  <p class="type">
    A retro NOKIA inspired gravekeeping game written in HAXE. Made for the NOKIA
    Jam 2 with SPIKEDOG.
  </p>
  <img data-src="/assets/cemetery.png"></img>
</a>
<p> </p>

<h2 class="type">Black and White</h2>

<a href="https://canned-moose.itch.io/black-and-white">
  <p class="type">
    A mind bending puzzle game written in Godot. Made for the 8 Bits to Infinity
    Jam.
  </p>
  <img data-src="/assets/bnw.png"></img>
</a>
